<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-slides pager="true">
    <ion-slide class="swiper-slide">
      <h1>Primer slide</h1>
      <img src="assets/img/logo.png" alt="Platzi logo">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est adipisci sint porro quaerat earum deserunt vitae voluptatem esse maiores assumenda ad consectetur sunt cum eaque, distinctio obcaecati culpa totam asperiores officiis id voluptates doloribus natus illo? Reiciendis officiis, necessitatibus saepe, voluptas unde beatae ratione deleniti inventore sint sit expedita id?</p>
      <ion-icon name="play"></ion-icon>
    </ion-slide>
    <ion-slide>
      <h1>Segundo slide</h1>
    </ion-slide>
    <ion-slide>
      <h1>Tercer slide</h1>
    </ion-slide>
  </ion-slides>
</ion-content>
